body {
  margin: 0;
  padding: 0;
  background: #00293d;
  color: #f70606;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

